# www無しのURLに統一
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.myperfectprotein.jp/
RewriteRule ^(.*) https://myperfectprotein.jp/$1 [R=301,L]
 
 
# index.html（php）無しのURLに統一
RewriteEngine On
RewriteCond %{THE_REQUEST} ^.*/index.(html|htm|php)
RewriteRule ^(.*)index.(html|htm|php)$ https://myperfectprotein.jp/$1 [R=301,L]


# http を止めて　https のURLに統一
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]


