{% extends "base.html" %}
{% block content %}
{% load static %}
<div id="container">
<div align="center">
<br><br><br>
	
<table><tr><td colspan="2">出来ること</td></tr>
	<tr><td>①</td><td align="left">自分のオリジナル成分が入ったプロテインを作れる</td></tr>
	<tr><td>②</td><td align="left">寄付プロテインで、自分も周りも健康にできる</td></tr>
	<tr><td>③</td><td align="left">あああ</td></tr>
	<tr><td>④</td><td align="left">あああ</td></tr>
	<tr><td>⑤</td><td align="left">あああ</td></tr>
	</table>	
	<br><br>

	<table><tr><td colspan="2">こだわり</td></tr>
	<tr><td>①</td><td align="left">製造から出荷まで日本国内で行っているので安心です</td></tr>
	<tr><td>②</td><td align="left">医薬品と同等の製造レベルにおける品質管理を行っております</td></tr>
	<tr><td>③</td><td align="left">どんな理由でも、いつでもマイページから解約可能<br>お届け日の10日前までにお手続き可能です</td></tr>
	<tr><td>④</td><td align="left">お申込み日から3営業日以内に発送します</td></tr>
	<tr><td>⑤</td><td align="left">初回はお試し頂くために、本商品代金を0円で提供しています</td></tr>
	</table>	

	
	
	<br><br><br>
	
{% include 'papps/footer.html' %}
{% endblock %}