{% extends "base.html" %}
{% block content %}
{% load static %}

<div id="container">
<div align="center">

	{% include 'papps/auth.html' %}
	<img src="/static/image/easy/easy1.jpg" width="930" alt=""/>
	<br>
    <br><br>
	<img src="/static/image/easy/easy2.jpg" width="930" alt=""/>
	<br><br>
	
		
	
	
	<br><br>

	
	<table align="center">
<tr>
        <td width="300"><br><br>
    <a href="/order/easyorder/complete"><img src="/static/image/easy/complete.png" width="300" alt="追加しない" name="追加しない"></a>
	</td>
        <td width="50">
   	</td>
	        <td width="300"><br><br>
    <a href="/order/easyorder/outside"><img src="/static/image/easy/outside.png" width="300" alt="追加しない" name="追加しない"></a>
	</td>
</tr>	
<tr>
        <td width="300"><br><br>
    <a href="/order/easyorder/eye"><img src="/static/image/easy/eye.png" width="300" alt="追加しない" name="追加しない"></a>
	</td>
        <td width="50">
   	</td>
	        <td width="300"><br><br>
    <a href="/order/easyorder/stress"><img src="/static/image/easy/stress.png" width="300" alt="追加しない" name="追加しない"></a>
	</td>
</tr>	
<tr>
        <td width="300"><br><br>
    <a href="/order/easyorder/sleep"><img src="/static/image/easy/sleep.png" width="300" alt="追加しない" name="追加しない"></a>
	</td>
        <td width="50">
   	</td>
	        <td width="300"><br><br>
    <a href="/order/easyorder/rhythm"><img src="/static/image/easy/rhythm.png" width="300" alt="追加しない" name="追加しない"></a>
	</td>
</tr>	
<tr>
        <td width="300"><br><br>
    <a href="/order/easyorder/hair"><img src="/static/image/easy/hair.png" width="300" alt="追加しない" name="追加しない"></a>
	</td>
        <td width="50">
   	</td>
	        <td width="300"><br><br>
    <a href="/order/easyorder/skin"><img src="/static/image/easy/skin.png" width="300" alt="追加しない" name="追加しない"></a>
	</td>
</tr>	
<tr>
        <td width="300"><br><br>
    <a href="/order/easyorder/acne"><img src="/static/image/easy/acne.png" width="300" alt="追加しない" name="追加しない"></a>
	</td>
        <td width="50">
   	</td>
	        <td width="300"><br><br>
    <a href="/order/easyorder/sake"><img src="/static/image/easy/sake.png" width="300" alt="追加しない" name="追加しない"></a>
	</td>
</tr>	
<tr>
        <td width="300"><br><br>
    <a href="/order/easyorder/intestines"><img src="/static/image/easy/intestines.png" width="300" alt="追加しない" name="追加しない"></a>
	</td>
        <td width="50">
   	</td>
	        <td width="300"><br><br>
    <a href="/order/easyorder/diet"><img src="/static/image/easy/diet.png" width="300" alt="追加しない" name="追加しない"></a>
	</td>
</tr>	
		
<tr>
        <td width="300"><br><br>
    <a href="/order/easyorder/muscle"><img src="/static/image/easy/muscle.png" width="300" alt="追加しない" name="追加しない"></a>
	</td>
        <td width="50">
   	</td>
	        <td width="300"><br><br>
    <a href="/order/easyorder/dha"><img src="/static/image/easy/dha.png" width="300" alt="追加しない" name="追加しない"></a>
	</td>
</tr>	

<tr>
        <td width="300"><br><br>
    <a href="/order/easyorder/joint"><img src="/static/image/easy/joint.png" width="300" alt="追加しない" name="追加しない"></a>
	</td>
        <td width="50">
   	</td>
	        <td width="300"><br><br>
    <a href="/order/easyorder/night"><img src="/static/image/easy/night.png" width="300" alt="追加しない" name="追加しない"></a>
	</td>
</tr>	
		
		
<tr>
        <td width="300"><br><br>
    <a href="/order/easyorder/dry"><img src="/static/image/easy/dry.png" width="300" alt="追加しない" name="追加しない"></a>
	</td>
        <td width="50">
   	</td>
	        <td width="300"><br><br>
    <a href="/order/easyorder/bcaa"><img src="/static/image/easy/bcaa.png" width="300" alt="追加しない" name="追加しない"></a>
	</td>
</tr>	
		
		
		
		
		
		
		
		
	</table>
	
	
	<br><br>
	
	
	
	<br><br>
	<br><br><br>

{% include 'papps/footer.html' %}
{% endblock %}