{% block content %}
{% load static %}
<div class="pc">
		
    <div id="footer">
<table align="center">
<tr>
             <td width="300"></td>
      <td width="300" align="center"></td>
             <td width="300"></td>
</tr>
<tr>
             <td width="300"><br></td>
</tr>
<tr>
             <td width="300" align="center"><a href="/"><font color="#000000">・ＴＯＰ</font></a></td>
             <td width="300" align="center"><a href="/point"><font color="#000000">・よくある質問</font></a></td>
             <td width="300" align="center"><a href="/how"><font color="#000000">・お問い合わせ</font></a></td>
</tr>
<tr>
             
              <td width="300" align="center"><a href="/contact/contact"><br><font color="#000000">・個人情報取り扱いについて</font></a></td>
  <td width="300" align="center"><a href="/contact/contact"><br><font color="#000000">・特定商取引法に基づく表示</font></a></td>
  
</tr>
  <tr>
             <td colspan="3" width="300" align="center"><br>企業団体のコラボ希望やOEMに関しても、お問い合わせからご連絡ください。</td>
</tr>

  <tr>
             <td width="300"><br></td>
             <td width="300" align="center"><br>Copyright&nbsp;&copy;&nbsp;My Perfect Protein</td>
</tr>
<tr>
             <td width="300">&nbsp;</td>
</tr>

</table>

</div><!-- footer -->
</div><!-- pc -->


<div class="sp">
<div id="footer">
<table align="center">
<tr>
             <td width="300"></td>
      <td width="300"><br></td>
             <td width="300"></td>
</tr>
<tr>
             <td width="300" align="center"><a href="/"><font color="#000000" size="+2">・ＴＯＰ</font></a><br><br><br></td>
             <td width="300" align="center"><a href="/point"><font color="#000000" size="+2">・よくある質問</font></a><br><br><br></td>
             <td width="300" align="center"><a href="/how"><font color="#000000" size="+2">・お問い合わせ</font></a><br><br><br></td>
</tr>
<tr>
             
             <td width="300" align="center"><a href="/law"><font color="#000000" size="+1">・個人情報取り扱いについて</font></a><br><br><br></td>
             <td width="300" align="center"><a href="/contact/contact"><font color="#000000" size="+1">・特定商取引法に基づく表示</font></a><br><br><br></td>
  <td width="300" align="center"></td>
</tr>
<tr>
             <td colspan="3" width="300" align="center"><font color="#000000">企業団体のコラボ希望やOEMに関しても、お問い合わせからご連絡ください。</font><br><br><br></td>

</tr>
<tr>
             <td width="300"><br></td>
             <td width="300" align="center"><br>Copyright&nbsp;&copy;&nbsp;My Perfect Protein</td>
</tr>
<tr>
             <td width="300">&nbsp;</td>
</tr>

</table>

</div><!-- footer -->
</div><!-- sp -->
  
  
  </div><!-- center -->
</div><!-- container -->
{% endblock %}