{% extends "base.html" %}
{% block content %}
{% load static %}
<div id="container">
<div align="center">

	
	{% include 'papps/auth.html' %}	
	<img src="/static/image/kifu/kifu3.png" width="930" alt=""/>
	<br>
    <br><br>
	
		
	
	
	<br><br>

	
	
	<img src="/static/image/kifu/hometown/map.gif" usemap="#map" border="0">
<map name="map"> 

<area shape="rect" coords="305,60,390,126" href="/order/hometown/hokkaido" alt="北海道">
<area shape="rect" coords="288,151,331,181" href="/order/hometown/aomori" alt="青森">
<area shape="rect" coords="280,181,311,221" href="/order/hometown/akita" alt="秋田">
<area shape="rect" coords="310,181,341,221" href="/order/hometown/iwate" alt="岩手">
<area shape="rect" coords="275,221,305,245" href="/order/hometown/yamagata" alt="山形">
<area shape="rect" coords="305,221,328,260" href="/order/hometown/miyagi" alt="宮城">
<area shape="rect" coords="245,240,284,280" href="/order/hometown/niigata" alt="新潟">
<area shape="rect" coords="282,258,320,280" href="/order/hometown/fukusima" alt="福島">
<area shape="rect" coords="262,277,280,300" href="/order/hometown/gunma" alt="群馬">
<area shape="rect" coords="280,277,310,295" href="/order/hometown/tochigi" alt="栃木">
<area shape="rect" coords="294,293,328,312" href="/order/hometown/ibaraki" alt="茨城">
<area shape="rect" coords="268,295,297,311" href="/order/hometown/saitama" alt="埼玉">
<area shape="rect" coords="297,312,328,330" href="/order/hometown/chiba" alt="千葉">
<area shape="rect" coords="268,310,299,326" href="/order/hometown/tokyo" alt="東京">
<area shape="rect" coords="272,328,312,344" href="/order/hometown/kanagawa" alt="神奈川">
<area shape="rect" coords="244,326,272,348" href="/order/hometown/shizuoka" alt="静岡">
<area shape="rect" coords="242,311,270,326" href="/order/hometown/yamanashi" alt="山梨">
<area shape="rect" coords="239,293,264,312" href="/order/hometown/nagano" alt="長野">
<area shape="rect" coords="219,278,248,295" href="/order/hometown/toyama" alt="富山">
<area shape="rect" coords="208,259,237,279" href="/order/hometown/ishikawa" alt="石川">
<area shape="rect" coords="187,293,216,312" href="/order/hometown/fukui" alt="福井">
<area shape="rect" coords="216,296,238,326" href="/order/hometown/gifu" alt="岐阜">
<area shape="rect" coords="216,326,244,348" href="/order/hometown/aichi" alt="愛知">
<area shape="rect" coords="208,348,236,368" href="/order/hometown/mie" alt="三重">
<area shape="rect" coords="178,368,218,387" href="/order/hometown/wakayama" alt="和歌山">
<area shape="rect" coords="179,349,208,364" href="/order/hometown/nara" alt="奈良">
<area shape="rect" coords="173,334,206,349" href="/order/hometown/oosaka" alt="大阪">
<area shape="rect" coords="191,318,218,334" href="/order/hometown/shiga" alt="滋賀">
<area shape="rect" coords="168,307,196,323" href="/order/hometown/kyoto" alt="京都">
<area shape="rect" coords="158,321,186,336" href="/order/hometown/hyogo" alt="兵庫">
<area shape="rect" coords="133,309,162,328" href="/order/hometown/tottori" alt="鳥取">
<area shape="rect" coords="100,315,133,332" href="/order/hometown/shimane" alt="島根">
<area shape="rect" coords="134,328,158,346" href="/order/hometown/okayama" alt="岡山">
<area shape="rect" coords="109,336,135,355" href="/order/hometown/hiroshima" alt="広島">
<area shape="rect" coords="80,341,109,359" href="/order/hometown/yamaguchi" alt="山口">
<area shape="rect" coords="139,345,168,363" href="/order/hometown/kagawa" alt="香川">
<area shape="rect" coords="148,362,178,377" href="/order/hometown/tokushima" alt="徳島">
<area shape="rect" coords="120,375,158,394" href="/order/hometown/kochi" alt="高知">
<area shape="rect" coords="108,355,141,374" href="/order/hometown/ehime" alt="愛媛">
<area shape="rect" coords="63,358,94,376" href="/order/hometown/fukuoka" alt="福岡">
<area shape="rect" coords="35,358,63,376" href="/order/hometown/saga" alt="佐賀">
<area shape="rect" coords="30,376,58,395" href="/order/hometown/nagasaki" alt="長崎">
<area shape="rect" coords="54,387,83,407" href="/order/hometown/kumamoto" alt="熊本">
<area shape="rect" coords="83,372,111,393" href="/order/hometown/ooita" alt="大分">
	<area shape="rect" coords="80,396,109,419" href="/order/hometown/miyazaki" alt="宮崎">
	<area shape="rect" coords="48,414,86,439" href="/order/hometown/kagoshima" alt="鹿児島">
<area shape="rect" coords="282,412,338,446" href="/order/hometown/okinawa" alt="沖縄">
</map>

	
	
	<br><br>
	
	
	
	<br><br>
	<br><br><br>
	
       {% include 'papps/footer.html' %}
       {% endblock %}