{% extends "base.html" %}
{% block content %}
{% load static %}
<div id="container">
	<div align="center">
		{% include 'papps/auth.html' %}
		<img src="/static/image/main/main1.png" width="930" alt=""/><br><br><br>
	<table><tr><td rowspan="2" align="center" valign="middle" width="400"><iframe width="350" height="197" src="https://www.youtube.com/embed/OvQHJT-IA4Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td><td align="center" valign="middle" width="400"><img src="/static/image/main/main2_1.png" width="300" alt=""/></td></tr>
			<tr><td align="center" valign="middle"><br><a href="/pv"><img src="/static/image/main/main2_2.png" width="300" alt=""/></a></td></tr>
		</table>
		<br><br><br>
			
	<a href="/can"><img src="/static/image/main/main3.png" width="930" alt=""/></a><br>
			<img src="/static/image/main/main4.png" width="930" alt=""/>
		
		<br>
		<table bgcolor="#FFFCE9" width="900"><tr><td><img src="/static/image/main/full1.png" width="890" alt=""/></td></tr><tr>
			<td><img src="/static/image/main/full2.png" width="890" alt=""/></td>
			</tr>
		<tr><td align="center" valign="top">
			<a href="/full"><img src="/static/image/main/check.png" width="200" alt=""/></a><br><br><br>
			</td></tr>
		
		</table>
		<br><br>
		
		<br><br>
		<table bgcolor="#F2F8EE" width="900"><tr><td><img src="/static/image/main/easy1.png" width="890" alt=""/></td>
			</tr>
		<tr><td align="center" valign="top">
			<a href="/easy"><img src="/static/image/main/check.png" width="200" alt=""/></a><br><br><br>
			</td></tr></table>
		
		<br><br>
		<br><br>
	<table bgcolor="#FBF6FA" width="900"><tr><td><img src="/static/image/main/ai.png" width="890" alt=""/></td>
			</tr>
		<tr><td align="center" valign="top">
			<a href="/ai"><img src="/static/image/main/check.png" width="200" alt=""/></a><br><br><br>
			</td></tr></table>
	
		
	
		<br><br>
		<br><br>
	
		<table bgcolor="#FCF6F8" width="900"><tr><td><img src="/static/image/main/osoro1.png" width="890" alt=""/></td>
			</tr>
		<tr><td align="center" valign="top">
			<a href="/osoro"><img src="/static/image/main/check.png" width="200" alt=""/></a><br><br><br>
			</td></tr></table>
	
		<br><br>
		<br><br>
		
	<table><tr><td width="800" align="center"><img src="/static/image/main/kifu1.png" width="780" alt=""/><br><br></td>
	</tr><tr>
		<td width="800" align="center"><img src="/static/image/main/kifu2.png" width="300" alt=""/><br><br><br></td>
	</tr><tr>
		  <td width="800" align="center"><a href="/hometown"><img src="/static/image/main/kifu3.png" width="740" alt=""/></a><br>
			<br><br></td>
	</tr><tr>
		<td width="800" align="center"><a href="/green"><img src="/static/image/main/kifu4.png" width="740" alt=""/></a><br><br><br></td>
	</tr><tr>
		<td width="800" align="center"><a href="/pets"><img src="/static/image/main/kifu5.png" width="740" alt=""/></a><br><br><br></td>
	</tr><tr>
		<td width="800" align="center"><a href="/child"><img src="/static/image/main/kifu6.png" width="740" alt=""/></a><br><br><br></td>
	</tr><tr>
		<td width="800" align="center"><a href="/medical"><img src="/static/image/main/kifu7.png" width="740" alt=""/></a><br><br></td>
	</tr>
	
		
		
		</table>
		
		
		
		<br>
		<br><br><br><br><br>
	
{% include 'papps/footer.html' %}
{% endblock %}
