{% extends "base.html" %}
{% block content %}
{% load static %}
<div id="container">
<div align="center">

	
	{% include 'papps/auth.html' %}	
	<img src="/static/image/kifu/kifu7.png" width="930" alt=""/>
	<br>
    <br><br>
	
		
	
	
	<br><br>

	
	
    <img src="/static/image/kifu/medical/medical.png" width="650" alt=""/><br><br>
	
	<p>ああああああああああああああ</p><br><br><br>
	<img src="/static/image/kifu/kifu8.png" width="200" alt=""/><br><br>
	<br><br><br>
	
{% include 'papps/footer.html' %}
{% endblock %}