{% extends "base.html" %}
{% block content %}
{% load static %}
<div id="container">
<div align="center">

	{% include 'papps/auth.html' %}
	<img src="/static/image/osoro/osoro1.jpg" width="930" alt=""/>
	<br>
    <br><br>
	<img src="/static/image/osoro/osoro2.jpg" width="930" alt=""/>
	<br><br>
	
		
	
	
	<br><br>

	
	<table align="center">
<tr>
        <td width="600" align="center" colspan="3">
	    <img src="/static/image/osoro/partner/itiban.png" width="414" height="378" alt=""/>
	<br><br></td>
</tr>	
		<tr>
        <td width="300" align="center">
	    <img src="/static/image/osoro/partner/niban.png" width="300" alt=""/>
	<br><br></td>
			<td width="10"></td>
        <td width="300" align="center">
	    <img src="/static/image/osoro/partner/niban.png" width="300" alt=""/>
	<br><br></td>		
		</tr>
		<tr>
        <td width="300" align="center">
	    <img src="/static/image/osoro/partner/niban.png" width="300" alt=""/>
	<br><br></td>
			<td width="10"></td>
        <td width="300" align="center">
	    <img src="/static/image/osoro/partner/niban.png" width="300" alt=""/>
	<br><br></td>		
		</tr>
		<tr>
        <td width="300" align="center">
	    <img src="/static/image/osoro/partner/comingsoon.png" width="300" alt=""/>
	<br><br></td>
			<td width="10"></td>
        <td width="300" align="center">
	    <img src="/static/image/osoro/partner/comingsoon.png" width="300" alt=""/>
	<br><br></td>		
		</tr>

		
		
		
	</table>
	
	
	<br><br>
	
	
	
	<br><br>
	<br><br><br>
	

	
	{% include 'papps/footer.html' %}
	{% endblock %}