{% extends "base.html" %}
{% block content %}
{% load static %}

<div id="container">
<div align="center">
    <h2 style="text-align:center;">パスワード変更</h2>
<div style="max-width:1240px">
<form action="" method="POST">
{% csrf_token %}
{{ form.non_field_errors }}
    {{ form.as_table }}
	<div style="text-align:center;margin-top: 2em;">
		<button><img src="/static/image/ordercheck/ordernext.png" width="200" alt=""/></button>
	</div>
	</form>
</div>
	<br><br><br>
	{% include 'papps/footer.html' %}
	{% endblock %}