{% extends "base.html" %}
{% block content %}
{% load static %}
<div id="container">
<div align="center">
<br><br><br>
	
	<img src="/static/image/pv/1.png" width="537" alt=""/><br><br><br>
	
	<iframe width="700" height="392" src="https://www.youtube.com/embed/OvQHJT-IA4Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br><br>
	
	<img src="/static/image/pv/2.png" width="717" alt=""/><br><br>
	<br><br><br>
	

       {% include 'papps/footer.html' %}
       {% endblock %}