{% load static %}
<!doctype html>
<html><head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
<meta property="og:title" content="マイパーフェクトプロテイン">
<meta property="og:type" content="website">
<meta property="og:url" content="https://myperfectprotein.jp">
<meta property="og:image" content="https://myperfectprotein.jp/image/favicon/favicon.ico">
<meta property="og:site_name" content="マイパーフェクトプロテイン">
<meta property="og:description" content="国内製造の安心プロテインを自分でオリジナルカスタマイズ、素材も味も栄養素も自由にオーダー">
	<!-- ここまでがOGP設定 -->

	
	
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="viewport" content="width=device-width, initial-scale=0.4" />
	<!-- ここまでがビューポート設定 -->
	
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="プロテイン,カスタム,オーダーメイド,マイパーフェクトプロテイン">
<link href="{% static 'base.css' %}" rel="stylesheet" title="CSS" type="text/css" />


<title>My Perfect Protein 国内製造プロテイン</title>
<meta name="description" content="国内製造の安心プロテインを自分でオリジナルカスタマイズ、素材も味も栄養素も自由にオーダー">


<link rel="apple-touch-icon" sizes="180x180" href="image/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="image/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="image/favicon/favicon-16x16.png">
<link rel="manifest" href="image/favicon/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
	
	
	
	</head>

<body>
{% block content %}{% endblock %}
</body>
</html>
