{% extends "base.html" %}
{% block content %}
{% load static %}
<div id="container">
<div align="center">

	{% include 'papps/auth.html' %}
	<img src="/static/image/top1.png" width="930" alt=""/>
	<br>
    <br><br>

	<img src="/static/image/ai/anser/1/ai1.png" width="900" alt=""/><br>
	<img src="/static/image/ai/anser/1/ai1_1.png" width="900" alt=""/><br>
	
	<a href="/ai/ai/ai_order"><img src="/static/image/ordernext.png" width="162" height="74" alt=""/></a><br>
	
<br><br><br><br><br>

	

	
	
	
	<br><br><br>
	

	{% include 'papps/footer.html' %}
       {% endblock %}
	
	
	
