{% extends "base.html" %}
{% block content %}
{% load static %}
<div id="container">
<div align="center">

	
	<table><tr><td width="600"></td><td><a href="#"><img src="/static/image/mypage.png" alt=""/></a></td></tr></table>
	<img src="/static/image/top1.png" width="930" alt=""/>
	<br>
    <br><br>
	<img src="/static/image/ai/ai1.png" width="900" alt=""/>
	<br><br><br>
	
	<p><font size="+3">普段から運動やトレーニングしていますか。</font></p>
	
	
	<br><br>
	<table><tr>
		<td><a href="/ai/19/1/aim1m1"><img src="/static/sub_image/ai/yes.png" width="250" alt=""/></a></td>
		<td width="30"></td>
		<td><a href="/ai/19/1/1/aim1"><img src="/static/sub_image/ai/no.png" width="250" alt=""/></a></td>
			
		</tr></table>
	
<br><br><br><br><br>

	

	
	
	
	<br><br><br>
	
	{% include 'papps/footer.html' %}
	{% endblock %}
	
