{% extends "base.html" %}
{% block content %}
{% load static %}
<div id="container">
<div align="center">

	{% include 'papps/auth.html' %}
	<img src="/static/image/top1.png" width="930" alt=""/>
	<p name="注文内容" value="ダイエット・スリムボディ！">&nbsp;</p>
	<p name="ベース" value="ホエイ">&nbsp;</p>
	<p name="栄養成分" value="ギャバ/コラーゲン">&nbsp;</p>
	<img src="/static/image/easy/choice.png" width="600" height="130" alt=""/><br><br>
	
	
	
	
	<img src="/static/image/full/full3.jpg" width="900" alt="フレーバー選択"/>
	<br><br>
	<br>
	<p><font size="+2" face="cursive">CAFE&nbsp;FLAVOR</font></p>
	<br>
	<script language="JavaScript">
<!--
var class_name = "hogea";
var img3 = new Array("/static/image/full/full2_1_1.png","/static/image/full/full2_1_2.png","/static/image/full/full2_1_3.png","/static/image/full/full2_1_4.png","/static/image/full/full2_2_1.png","/static/image/full/full2_2_2.png","/static/image/full/full2_2_3.png","/static/image/full/full2_2_4.png","/static/image/full/full2_4_1.png","/static/image/full/full2_4_2.png","/static/image/full/full2_4_3.png","/static/image/full/full2_4_4.png","/static/image/full/full2_5_1.png","/static/image/full/full2_5_2.png","/static/image/full/full2_5_3.png","/static/image/full/full2_5_4.png","/static/image/full/full2_6_1.png","/static/image/full/full2_6_2.png","/static/image/full/full2_6_3.png","/static/image/full/full2_6_4.png","/static/image/full/full2_7_1.png","/static/image/full/full2_7_2.png","/static/image/full/full2_7_3.png","/static/image/full/full2_7_4.png");
var img4 = new Array("/static/image/full/full2_1_1_1.png","/static/image/full/full2_1_2_1.png","/static/image/full/full2_1_3_1.png","/static/image/full/full2_1_4_1.png","/static/image/full/full2_2_1_1.png","/static/image/full/full2_2_2_1.png","/static/image/full/full2_2_3_1.png","/static/image/full/full2_2_4_1.png","/static/image/full/full2_4_1_1.png","/static/image/full/full2_4_2_1.png","/static/image/full/full2_4_3_1.png","/static/image/full/full2_4_4_1.png","/static/image/full/full2_5_1_1.png","/static/image/full/full2_5_2_1.png","/static/image/full/full2_5_3_1.png","/static/image/full/full2_5_4_1.png","/static/image/full/full2_6_1_1.png","/static/image/full/full2_6_2_1.png","/static/image/full/full2_6_3_1.png","/static/image/full/full2_6_4_1.png","/static/image/full/full2_7_1_1.png","/static/image/full/full2_7_2_1.png","/static/image/full/full2_7_3_1.png","/static/image/full/full2_7_4_1.png");
var flaga= new Array(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0);

var targetsa= new Array();
function changea(obj){
var hoge_rangea = document.getElementById('hoge_rangea');
var targetsa = hoge_rangea.getElementsByTagName('img');
for(var ia=0;ia<targetsa.length;ia++){
if(targetsa[ia]==obj && flaga[ia]==0){
targetsa[ia].src=img4[ia];
flaga[ia]=1;
} else {
if (flaga[ia]==1) {
targetsa[ia].src=img3[ia];
flaga[ia]=0;
}
}
}
}
// -->
</script>
		
	<div id="hoge_rangea">
<img width="150" src="/static/image/full/full2_1_1.png" class="hogea" onClick="changea(this)" name="フレーバー" value="コーヒー">&nbsp;&nbsp;&nbsp;&nbsp;
<img width="150" src="/static/image/full/full2_1_2.png" class="hogea" onClick="changea(this)" name="フレーバー" value="ココア">&nbsp;&nbsp;&nbsp;&nbsp;
<img width="150" src="/static/image/full/full2_1_3.png" class="hogea" onClick="changea(this)" name="フレーバー" value="チョコ">&nbsp;&nbsp;&nbsp;&nbsp;
<img width="150" src="/static/image/full/full2_1_4.png" class="hogea" onClick="changea(this)" name="フレーバー" value="ミルクティー"><br><br>
<img width="150" src="/static/image/full/full2_2_1.png" class="hogea" onClick="changea(this)" name="フレーバー" value="バニラ">&nbsp;&nbsp;&nbsp;&nbsp;
<img width="150" src="/static/image/full/full2_2_2.png" class="hogea" onClick="changea(this)" name="フレーバー" value="抹茶">&nbsp;&nbsp;&nbsp;&nbsp;
<img width="150" src="/static/image/full/full2_2_3.png" class="hogea" onClick="changea(this)" name="フレーバー" value="ココナッツ">&nbsp;&nbsp;&nbsp;&nbsp;
<img width="150" src="/static/image/full/full2_2_4.png" class="hogea" onClick="changea(this)" name="フレーバー" value="あずき"><br><br><br>
		<p><font size="+2" face="cursive">FRUITY&nbsp;FLAVOR</font></p><br>
		
		
	  <img width="150" src="/static/image/full/full2_4_1.png" class="hogea" onClick="changea(this)" value="ブルーベリー">&nbsp;&nbsp;&nbsp;&nbsp;
<img width="150" src="/static/image/full/full2_4_2.png" class="hogea" onClick="changea(this)" name="フレーバー" value="グレープ">&nbsp;&nbsp;&nbsp;&nbsp;
<img width="150" src="/static/image/full/full2_4_3.png" class="hogea" onClick="changea(this)" name="フレーバー" value="アサイー">&nbsp;&nbsp;&nbsp;&nbsp;
<img width="150" src="/static/image/full/full2_4_4.png" class="hogea" onClick="changea(this)" name="フレーバー" value="イチゴ"><br><br>
<img width="150" src="/static/image/full/full2_5_1.png" class="hogea" onClick="changea(this)" name="フレーバー" value="りんご">&nbsp;&nbsp;&nbsp;&nbsp;
<img width="150" src="/static/image/full/full2_5_2.png" class="hogea" onClick="changea(this)" name="フレーバー" value="スイカ">&nbsp;&nbsp;&nbsp;&nbsp;
<img width="150" src="/static/image/full/full2_5_3.png" class="hogea" onClick="changea(this)" name="フレーバー" value="ピーチ">&nbsp;&nbsp;&nbsp;&nbsp;
<img width="150" src="/static/image/full/full2_5_4.png" class="hogea" onClick="changea(this)" name="フレーバー" value="ローズ"><br><br>
<img width="150" src="/static/image/full/full2_6_1.png" class="hogea" onClick="changea(this)" name="フレーバー" value="バナナ">&nbsp;&nbsp;&nbsp;&nbsp;
<img width="150" src="/static/image/full/full2_6_2.png" class="hogea" onClick="changea(this)" name="フレーバー" value="マンゴー">&nbsp;&nbsp;&nbsp;&nbsp;
<img width="150" src="/static/image/full/full2_6_3.png" class="hogea" onClick="changea(this)" name="フレーバー" value="パイン">&nbsp;&nbsp;&nbsp;&nbsp;
<img width="150" src="/static/image/full/full2_6_4.png" class="hogea" onClick="changea(this)" name="フレーバー" value="パッションフルーツ"><br><br>
<img width="150" src="/static/image/full/full2_7_1.png" class="hogea" onClick="changea(this)" name="フレーバー" value="レモン">&nbsp;&nbsp;&nbsp;&nbsp;
<img width="150" src="/static/image/full/full2_7_2.png" class="hogea" onClick="changea(this)" name="フレーバー" value="オレンジ">&nbsp;&nbsp;&nbsp;&nbsp;
<img width="150" src="/static/image/full/full2_7_3.png" class="hogea" onClick="changea(this)" name="フレーバー" value="パパイヤ">&nbsp;&nbsp;&nbsp;&nbsp;
<img width="150" src="/static/image/full/full2_7_4.png" class="hogea" onClick="changea(this)" name="フレーバー" value="メロン"><br><br>
		
		 </div>
	
	
	
	
	
	
	<br><br>
	
	<table><tr>
		<td width="200">&nbsp;
		</td>
		<td width="200">&nbsp;
		</td>
		<td width="200">
	    <a href="/order"><img src="/static/image/ordernext.png" width="200" alt=""/></a></td>
		
		
		
		</tr></table>
	
	
	<br><br><br>
	
	{% include 'papps/footer.html' %}
	{% endblock %}